{% extends 'layout.html' %}

{% block content %}
<h1>献立アプリ</h1>

<form action="/random" method="POST">
  <select name="category">
    <option value="" selected>指定なし（すべてのジャンル）</option>
    <option value="肉">肉料理</option>
    <option value="魚">魚料理</option>
    <option value="野菜">野菜料理</option>
    <option value="麺類">麺類</option>
    <option value="ご飯もの">ご飯もの（丼など）</option>
    <option value="揚げ物">揚げ物</option>
    <option value="和食">和食</option>
    <option value="洋食">洋食</option>
    <option value="中華">中華</option>
    <option value="その他">その他</option>
  </select>
  <button type="submit">今日の夕食は？</button>
</form>

<h3>メニューを追加</h3>

<form action="/add" method="POST">
  <input type="text" name="name" placeholder="料理名" required />
  <select name="category">
    <option value="" selected disabled>-- ジャンルを選択 --</option>
    <option value="肉">肉料理</option>
    <option value="魚">魚料理</option>
    <option value="野菜">野菜料理</option>
    <option value="麺類">麺類</option>
    <option value="ご飯もの">ご飯もの（丼など）</option>
    <option value="揚げ物">揚げ物</option>
    <option value="和食">和食</option>
    <option value="洋食">洋食</option>
    <option value="中華">中華</option>
    <option value="その他">その他</option>
  </select>
  <button type="submit">追加</button>
</form>

<hr />

<h2>メニュー表</h2>
<ul>
  {% for menu in menus %}
  <li>
    {{ menu.category }} {{ menu.name }}

    <a href="/edit/{{ menu.id }}">編集</a>
    <form action="/delete/{{ menu.id }}" method="POST">
      <button type="submit">削除</button>
    </form>
  </li>
  {% else %}
  <p>まだメニューがありません。登録してください！</p>
  {% endfor %}
</ul>
{% endblock %}
